.wrapper {
}

.button {
  position: relative;
  padding: 0;
  background-color: white;
  width: 44px;
  height: 44px;
  border: 2px solid var(--aux-color);
  border-radius: 3rem;
  display: inline-block;
  overflow: hidden;
  transition: width 0.3s ease;
  animation: pulse 2s ease-in-out infinite forwards;
}

.button:hover {
  width: 15rem;

  animation-play-state: paused;
}

.button:hover .icon {
  transform: scale(1.1);
}

.button:hover .caption {
  opacity: 1;
  transform: translateX(0);
}
.icon {
  margin: 5px;
  float: left;
  text-align: center;
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.caption {
  opacity: 0;

  position: relative;
  align-items: center;
  transform: translateX(-200%);
  transition: transform 0.3s ease, opacity 0.5s ease;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
